<div class="container" >
<div *ngFor="let computer of computers">
  <div class="card">
    <img class="image" src="{{computer.img}}" alt="image error" >
    <h1>{{computer.id}}</h1>
    <p class="price">{{computer.price}}$</p>
    <p><strong>Processor:</strong> {{computer.processor}}</p>
    <p><strong>Video card:</strong> {{computer.videoCard}}</p>
    <p><strong>Ram:</strong> {{computer.ram}}</p>
    <p><strong>Memory:</strong> {{computer.memory}}</p>
    <p><button><strong>Add to Cart</strong></button></p>
  </div>




  