<div class="container" >
  
<div *ngFor="let computer of computers">
  <div class="card">
    <a [routerLink]="['/details', computer.id]">
      <img class="image" src="{{computer.img}}" alt="image error">
    </a>
    <h1>{{computer.id}}</h1>
    <p class="price">{{computer.price}}$</p>
    <p><strong>Processor:</strong> {{computer.processor}}</p>
    <p><strong>Video card:</strong> {{computer.videoCard}}</p>
    <p><strong>Ram:</strong> {{computer.ram}}</p>
    <p><strong>Memory:</strong> {{computer.memory}}</p>
    <p class="button-group" *ngIf="isAdmin">
      <button class="delBtn" (click)="deleteComponent(computer.id)"><strong>Delete</strong></button>
      <button class="editBtn" (click)="editComponent(computer.id)"><strong>Edit</strong></button>
  </p>
    <p><button class="addBtn" (click)="buyComputer(computer)"><strong>Add to Cart</strong></button></p>
  </div>




  