<div class="wrapper">
   <div class="title">
      Register
   </div>

   <form>
      <div class="field">
         <label>Email Address</label>
         <input type="text" required>
      </div>
      <br>

      <div class="field">
         <label>Password</label>
         <input type="password" required>
      </div>
      <br>
      
      <div class="field">
         <label>rePassword</label>
         <input type="password" required>
      </div>
      <div class="content">
      </div>
      <div class="field">
         <input type="submit" value="Register">
      </div>
      <div class="signup-link">
         You are a member? <a routerLink="/auth/login">Login</a>
      </div>
   </form>