<div class="wrapper">
    <div class="title">
       Register
    </div>
    <form action="#">
       <div class="field">
          <input type="text" required>
          <label>Email Address</label>
       </div>

       <div class="field">
        <input type="text" required>
        <label>Phone number</label>
     </div>

       <div class="field">
          <input type="password" required>
          <label>Password</label>
       </div>

       <div class="field">
        <input type="password" required>
        <label>rePassword</label>
     </div>
       <div class="content">
       </div>
       <div class="field">
          <input type="submit" value="Register">
       </div>
       <div class="signup-link">
          You are a member? <a routerLink="/auth/login">Login</a>
       </div>
    </form>