<div class="container">
    <div class="profile">
      
      <h3>User Info:</h3>
  
      <!-- READONLY MODE -->
      <ng-container >
        <div class="flex">
          <p>Email:</p>
          <p>{{user.email}}</p>
        </div>

        <div class="flex">
          <p>Phone:</p>
          <p>{{phoneNumber}} </p>
        </div>
    
        <div class="flex">
          <p>Address:</p>
          <p>{{address}}</p>
        </div>

        <button class="edit-button" >Edit</button>
      </ng-container>
  
      <!-- EDIT MODE -->
      <ng-container >
        <form >
          <!-- username input -->
          <div class="flex">
            <p>Username:</p>
            <input type="text" id="username" formControlName="username" />
          </div>
  
          <!-- username validations -->
          <ng-container >
            <p class="error" >
              Username is required!
            </p>
            <p class="error" >
              Username's length should not be less than 5!
            </p>
          </ng-container>
  
          <!-- email input -->
          <div class="flex">
            <p>Email:</p>
            <input type="email" id="email" formControlName="email" />
          </div>
  
          <!-- email validations -->
          <ng-container >
            <p class="error" >
              Email is required!
            </p>
            <p
              class="error"
              
            >
              Email is not valid!
            </p>
          </ng-container>
  
          <!-- telephone input -->
          <div class="flex">
            <p>Phone:</p>
            <div>
              <select name="select-tel" id="select-tel" class="tel">
                <option value="00359">+359</option>
              </select>
              <input type="text" id="tel" formControlName="tel" />
            </div>
          </div>
  
          <!-- ACTIONS -->
          <button class="red-button">Cancel</button>
          <button class="green-button">Save</button>
        </form>
      </ng-container>
    </div>
  </div>
  