
    <nav class="vertical-nav">
        <ul class="nav-links">
            <li><a routerLink="/auth/login"><strong>LOG IN</strong></a></li>
            <li><a routerLink="/auth/register"><strong>REGISTER</strong></a></li>
            <br>
            <li><a routerLink="/auth/profile">Profile</a></li>
            <li><a routerLink="/computers">Computers</a></li>
            <li><a routerLink="/parts">Parts</a></li>
            <li><a routerLink="/about">About</a></li>
            <br>
           
        </ul>
    </nav>



    <section class="content">
        <div class="container">
            <h1>Welcome to PC STORE</h1>
            <p>Get plenty of knowledge by our wonderful courses.</p>
        </div>
        
    </section>

    
    

   