

    <nav class="vertical-nav">
        <ul class="nav-links">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/computers">Computers</a></li>
            <li><a href="/parts">Parts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <section class="content">
        <div class="container">
            <h1>Welcome to Our Website!</h1>
            <p>Get plenty of knowledge by our wonderful courses.</p>
        </div>
    </section>

