<div class="container">
    <h1>Shopping Cart</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of cart">
                <img src="{{comp.img}}" style="height: 60px" alt="">
                <td>{{comp.id}}</td>
                <td>{{comp.price}}$</td>
        
                <td><button class="remove-btn" (click)="removeComp(comp)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    
    <div class="cart-summary">
        <h2>Cart Summary</h2>
        <div class="shipping-container">
            <p class="shippingAddress">Shipping address: {{shippingAddress}}</p>
            <button routerLink="/auth/profile" class="change-button">Change</button>
            </div> 
        <p>Total: <span id="total-price">{{totalPrice}}$</span></p>
        <button class="checkout-btn" (click)="makeOrder(cart, totalPrice)">Order</button>
    </div>
</div>